:root{
    --primary-color: #186B8C;
    --secondary-color: #4f8b2e;
    --background-color: #F2E7DC;
    --black: #000000;
    --project-font-family: 'Montserrat', sans-serif;
}

html, body{
    height: 100%;
    background-color: var(--background-color);
    font-family: var(--project-font-family);
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-header {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    top: 10px;
    left: 10px;
    font-weight: 600;
    color: white;
    font-size: 20px;
    background-color: #186B8C;
    height: 1.3rem;
    width: 5rem;
    margin-right: 3rem;
    border-radius: 2rem;
    text-align: center;
    cursor: pointer;
}
form{
    background-color: grey;
    width: 80%;
    height: 18rem;
    position: absolute;
}

#img-login {
    opacity: 0.5; 
    max-width: 100%;
   height: auto;
   }

.campos-login{
    background-color: rgba(128, 128, 128, 0.432);
    color:black;
    width: 18rem;
    height: 2rem;
    padding-left: 1rem;
    padding-top: 0.5rem;
    border-radius: 4rem;
    position: absolute;
    top: 20%;
    left:52%;
}

.input-campo{
    background-color: rgba(128, 128, 128, 0);
    color:black;
    width: 18rem;
    height: 1rem;
    padding-left: 1rem;
    padding-top: 0.5rem;
    border-radius: 4rem;
    position: absolute;
    top: 31%;
    left:52%;
    border-radius: 0;
    border-bottom: 1px solid black;
    border-width: 0 0 2px 0;
}

#main-button{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 14rem;
    border: none;
    cursor: pointer;
    background-color: var(--secondary-color);
    border-radius: 4rem;
    align-items: center;
    margin-top: -3rem;
    position: absolute;
    top: 105%;
    left: 56%;
  }

  a{
    text-decoration: none;
    color: var(--background-color);
    cursor: pointer;
  }

  #button-text{
    font-weight: 500;
    font-size: 18px;
    
  }

  #img-button{
    width: 2rem;
  }

.campos-email{
    background-color: rgba(128, 128, 128, 0.432);
    color:black;
    width: 18rem;
    height: 2rem;
    padding-left: 1rem;
    padding-top: 0.5rem;
    border-radius: 4rem;
    position: absolute;
    top: 39%;
    left:52%;
}

.input-email{
    background-color: rgba(128, 128, 128, 0);
    color:black;
    width: 18rem;
    height: 1rem;
    padding-left: 1rem;
    padding-top: 0.5rem;
    border-radius: 4rem;
    position: absolute;
    top: 50%;
    left:52%;
    border-radius: 0;
    border-bottom: 1px solid black;
    border-width: 0 0 2px 0;
}

.campos-senha{
    background-color: rgba(128, 128, 128, 0.432);
    color:black;
    width: 18rem;
    height: 2rem;
    padding-left: 1rem;
    padding-top: 0.5rem;
    border-radius: 4rem;
    position: absolute;
    top: 59%;
    left:52%;
}

.input-senha{
    background-color: rgba(128, 128, 128, 0);
    color:black;
    width: 18rem;
    height: 1rem;
    padding-left: 1rem;
    padding-top: 0.5rem;
    border-radius: 4rem;
    position: absolute;
    top: 71%;
    left:52%;
    border-radius: 0;
    border-bottom: 1px solid black;
    border-width: 0 0 2px 0;
}

.campos-confirme{
    background-color: rgba(128, 128, 128, 0.432);
    color:black;
    width: 18rem;
    height: 2rem;
    padding-left: 1rem;
    padding-top: 0.5rem;
    border-radius: 4rem;
    position: absolute;
    top: 79%;
    left:52%;
}

.input-confirme{
    background-color: rgba(128, 128, 128, 0);
    color:black;
    width: 18rem;
    height: 1rem;
    padding-left: 1rem;
    padding-top: 0.5rem;
    border-radius: 4rem;
    position: absolute;
    top: 90%;
    left:52%;
    border-radius: 0;
    border-bottom: 1px solid black;
    border-width: 0 0 2px 0;
}

#user-click{
    background-color: rgba(128, 128, 128 0);
    border-radius: 4rem;
    border: 1px solid black;
    position: absolute;
    top: 11%;
    left: 20%;
    height: 2rem;
    width: 20rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

#user-registrar{
    background-color: rgba(128, 128, 128, 0);
    border-radius: 4rem;
    border: 1px solid black;
    position: absolute;
    top: 11%;
    left: 50%;
    height: 2rem;
    width: 20rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

#img-user{
    width: 1.3rem;
    margin-left: 2rem;
    margin-top: 0.4rem
}

#entrar{
    color: black;
    font-size: 18px;
    margin-left: 2rem;
    margin-top: 0.6rem;
}

.selected{
    background-color: rgba(128, 128, 128, 0.7) !important
}

.campos-email-selecionado{
    background-color: rgba(128, 128, 128, 0.432);
    color:black;
    width: 18rem;
    height: 2rem;
    padding-left: 1rem;
    padding-top: 0.5rem;
    border-radius: 4rem;
    position: absolute;
    top: 39%;
    left:22%;
}

.input-email-selecionado{
    background-color: rgba(128, 128, 128, 0);
    color:black;
    width: 18rem;
    height: 1rem;
    padding-left: 1rem;
    padding-top: 0.5rem;
    border-radius: 4rem;
    position: absolute;
    top: 50%;
    left:22%;
    border-radius: 0;
    border-bottom: 1px solid black;
    border-width: 0 0 2px 0;
}

.campos-senha-selecionado{
    background-color: rgba(128, 128, 128, 0.432);
    color:black;
    width: 18rem;
    height: 2rem;
    padding-left: 1rem;
    padding-top: 0.5rem;
    border-radius: 4rem;
    position: absolute;
    top: 59%;
    left:22%;
}

.input-senha-selecionado{
    background-color: rgba(128, 128, 128, 0);
    color:black;
    width: 18rem;
    height: 1rem;
    padding-left: 1rem;
    padding-top: 0.5rem;
    border-radius: 4rem;
    position: absolute;
    top: 71%;
    left:22%;
    border-radius: 0;
    border-bottom: 1px solid black;
    border-width: 0 0 2px 0;
}

#main-button-entrar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 14rem;
    border: none;
    cursor: pointer;
    background-color: var(--secondary-color);
    border-radius: 4rem;
    align-items: center;
    margin-top: -3rem;
    position: absolute;
    top: 87%;
    left: 26%;
}